{% extends "skeleton.html" %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='bower_components/chartist/dist/chartist.min.css')}}">
{% endblock %}
{% block content %}
<h3>
  Ticker Info
</h3>
<h4>{{tickername.name}} ({{ticker}})</h4>
<div class="row">
  <div class="ct-chart ct-golden-section" id="dachart"></div>
</div>
{% endblock %}
{% block script %}
<script src="{{url_for('static',filename='bower_components/chartist/dist/chartist.min.js')}}"></script>
<script>
  var data = {
    labels: ['{{ tickerinfo.date|reverse|join("' ,'")|safe }}'],
    series: [
      [{{tickerinfo.buy_turnover|reverse|join(", ")}}],
      [{{tickerinfo.turnover|reverse|join(", ")}}]
    ]
  };

  var options = {
    stackBars: true,
    seriesBarDistance: 5,
    reverseData: true,
    horizontalBars: true,
    axisY: {
      offset: 70
    },
    axisX: {
      labelInterpolationFnc: function(value) {
        return (value / 1000000) + 'M';
      }
    }
  };

  new Chartist.Bar('#dachart',data,options).on('draw', function(data) {
  if(data.type === 'bar') {
    data.element.attr({
      style: 'stroke-width: 50px'
    });
  }
});
</script>
{% endblock %}
